{% extends 'base.html.twig' %}
{% block title %}Laisser un avis{% endblock %}
{% block body %}
<!--Creation de commentaire-->
<div class="container">
        <div class="row">
            <h1>Votre avis</h1>

            {{ form_errors(commentForm) }}
        
            {{ form_start(commentForm) }}

                <div class="form-group">
                    {{ form_label(commentForm.Author, 'Auteur') }}
                    {{ form_widget(commentForm.Author, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(commentForm.Rank, 'Classement') }}
                    {{ form_widget(commentForm.Rank, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(commentForm.Text, 'Commentaire') }}
                    {{ form_widget(commentForm.Text, {'attr': {'class': 'form-control'}}) }}
                </div>                
        
                <button type="submit" class="btn btn-success">Valider</button>
            {{ form_end(commentForm) }}
        </div>
</div>
{% endblock %}
