{% extends 'base.html.twig' %}
{% block title %}Garage Parrot{% endblock %}
{% block body %}
<!--Texte central-->
<div class="container d-flex justify-content-center">
    <div class="row mt-4 flex-column">
        <div class="col">
            <h2>Parmi les services que nous proposons :</h2>
                <div class="cadre-1">&#128295;   Réparation de carroserie</div>
                <div class="cadre-1">&#128295;   Diagnostique électronique</div>
                <div class="cadre-1">&#128295;   Nettoyage intérieur/extérieur</div>
                <div class="cadre-1">&#128295;   Pose de pièces</div>
                <div class="cadre-1">&#128295;   Installation de boitier bio-éthanol</div>
        </div>
        <div class="col">
            <h2>Derniers Avis de nos clients :</h2>
            <ul class="list-unstyled">
                {% for comment in comments %}
                <li class="container comment-container">
                    <div class="row">
                        <div class="col"><p>De : {{ comment.Author }}</p></div>
                        <div class="col text-end">{{ comment.Rank }} &#9733;</div>
                    </div>
                    <div class="row text-bar-2">
                        <p>{{ comment.Text }}</p>
                    </div>
                    <div class="row text-center">
                        <p>Posté le {{ comment.createdAt|date('Y-m-d') }} à {{ comment.createdAt|date('H:i:s') }}</p>
                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!--Footer-->
<footer>
    <div class="container text-center foot">
        <div class="row">
            <div class="col">
                <p>{{ opening.hours }}</p>
              &copy; 2023 site réalisé dans le cadre d'une évaluation</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
