{% extends 'base.html.twig' %}

{% block title %}Commentaire choisi{% endblock %}

{% block body %}
    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numéro</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ comment.Text }}</td>
            </tr>
            <tr>
                <th>Rang</th>
                <td>{{ comment.Rank }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ comment.CreatedAt ? comment.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ comment.Author }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comment_crud_index') }}">Retour à la liste</a>

    <a href="{{ path('app_comment_crud_edit', {'id': comment.id}) }}">Modifier</a>

    {{ include('comment_crud/_delete_form.html.twig') }}
{% endblock %}
