{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}
<!--Titre-->
<div class="container text-center">
  <div class="row">
      <div class="col-4"><img src="{{ asset('pictures/car-logo-vg.jpg') }}" class="img-fluid" alt="logo voiture"></div>
      <div class="col-4 d-flex align-items-center">
          <h1 class="w-100">Garage Parrot</h1>
      </div>
      <div class="col-4"><img src="{{ asset('pictures/car-logo-vd.jpg') }}" class="img-fluid" alt="logo voiture"></div>
  </div>
</div>
<!--Barre de navigation-->
<nav class="navbar navbar-expand-sm container">
  <div class="collapse navbar-collapse justify-content-around" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Accueil</a>
          <a class="nav-item nav-link" href="sales">Nos ventes</a>
          <a class="nav-item nav-link" href="contact">Nous contacter</a>
          <a class="nav-item nav-link" href="connection">Connexion</a>
          <a class="nav-item nav-link" href="legal">Mentions légales</a>
      </div>
  </div>
</nav>
<!--Formulaire de connexion-->
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div class="container d-flex justify-content-center">
    <div class="row mt-5">
        <div class="col">
            <form action="{{ path('app_connection') }}" method="post">
                <label for="username">Adresse mail:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="_password"/>
                <!--<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">-->
            
                 <input type="hidden" name="_target_path" value="{{ path('app_main') }}"/>
                <div class="mt-4">
                  <button type="submit" class="btn btn-success">Connexion</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Footer-->
<footer class="foot">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
            <p>Nous sommes ouvert : du lundi au vendredi - de 8h45 à 12h00 et de 14h00 à 18h00 <br>
              le samedi - de 8h45 à 12h00<br>
            &copy; 2023 site réalisé dans le cadre d'une évaluation</p>
          </div>
      </div>
  </div>
</footer>
{% endblock %}
