{% extends 'base.html.twig' %}
{% block title %}Connection{% endblock %}
{% block body %}
<!--Formulaire de connexion-->
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div class="container d-flex justify-content-center wrapper">
    <div class="row mt-5">
        <div class="col">
            <form action="{{ path('app_connection') }}" method="post">
                <label for="username">Adresse mail:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            
                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="_password"/>
                <!--<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">-->
            
                 <input type="hidden" name="_target_path" value="{{ path('app_main') }}"/>
                <div class="mt-4 text-center">
                  <button type="submit" class="btn btn-success">Connexion</button>
                </div>
                {% if app.user %}
                {# Si l'utilisateur est connecté, affichez le bouton de déconnexion #}
                <div class="mt-4 text-center">
                    <button type="submit" class="btn btn-danger"><a href="{{ path('logout') }}" style="color: white; text-decoration: none;">Déconnexion</a></button>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<!--Footer-->
<footer>
    <div class="container text-center foot">
        <div class="row">
            <div class="col">
                <p>{{ opening.hours }}</p>
              &copy; 2023 site réalisé dans le cadre d'une évaluation</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
